<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>PopUnit</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <!-- ブランド選択 -->
  <div class="container">
    <div class="row">
      <div class="col col-brand s6 m4 l4 xl2 offset-xl1">
        <input type="checkbox" class="check-brand" value="765AS">
        <label class="btn-small btn-brand btn-brand-765as" >アイドルマスター</label>
      </div>
      <div class="col col-brand s6 m4 l4 xl2">
        <input type="checkbox" class="check-brand" value="シンデレラガールズ">
        <label class="btn-small btn-brand btn-brand-cinderella" >シンデレラガールズ</label>
      </div>
      <div class="col col-brand s6 m4 l4 xl2">
        <input type="checkbox" class="check-brand" value="ミリオンライブ">
        <label class="btn-small btn-brand btn-brand-million" >ミリオンライブ</label>
      </div>
      <div class="col col-brand s6 m4 l4 xl2">
        <input type="checkbox" class="check-brand" value="SideM">
        <label class="btn-small btn-brand btn-brand-sidem" >SideM</label>
      </div>
      <div class="col col-brand s6 m4 l4 xl2">
        <input type="checkbox" class="check-brand" value="シャイニーカラーズ">
        <label class="btn-small btn-brand btn-brand-shiny" >シャイニーカラーズ</label>
      </div>
    </div>
  </div>

  <!-- <svg>
    <text x="5" y="25" class="text-border">花</text>
    <text x="5" y="25" class="text">花</text>
  </svg> -->

  <!-- 属性選択 -->
  <% let attrs = [['flower', '花'], ['sky', '空'], ['fire', '炎'], ['wind', '風'],['snow', '雪'], ['moon', '月'],['heaven', '天'], ['dream', '夢'], ['rainbow', '虹'], ['thunder', '雷'], ['light', '光'], ['star', '星'], ['ocean', '海'], ['love', '愛'], ['darkness', '闇']] %>
  <div class="container flex-row">
    <div class="text-attr">
      属性1
    </div>
    <div class="flex-attr">
      <% for (let attr of attrs) { %>
        <div class="col-attr">
          <input type="checkbox" class="check-attr" name="check-attr1" value="<%= attr[1] %>">
          <label class="btn-attr btn-attr-<%= attr[0] %>"><%= attr[1] %></label>
          </label>
        </div>        
      <% } %>
    </div>
  </div>
  <div class="container flex-row">
    <div class="text-attr">
      属性2
    </div>
    <div class="flex-attr">
      <% for (let attr of attrs) { %>
        <div class="col-attr">
          <input type="checkbox" class="check-attr" name="check-attr2" value="<%= attr[1] %>">
          <label class="btn-attr btn-attr-<%= attr[0] %>"><%= attr[1] %></label>
        </div>        
      <% } %>
    </div>
  </div>
  <div class="container flex-row">
    <div class="text-attr">
      属性3
    </div>
    <div class="flex-attr">
      <% for (let attr of attrs) { %>
        <div class="col-attr">
          <input type="checkbox" class="check-attr" name="check-attr3" value="<%= attr[1] %>">
          <label class="btn-attr btn-attr-<%= attr[0] %>"><%= attr[1] %></label>
        </div>        
      <% } %>
    </div>
  </div>

  <div class="container sortable-table indigo lighten-5" style="margin-top: 1rem;">
    <table id="idol_table" class="striped">
      <thead>
        <tr>
          <th data-id="idol1">アイドル1</th>
          <th data-id="idol2">アイドル2</th>
          <th data-id="idol3">アイドル3</th>
          <th data-id="vo" sortable>Vo</th>
          <th data-id="da" sortable>Da</th>
          <th data-id="vi" sortable>Vi</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  </body>
</html>
