<!DOCTYPE html>
<html lang="ja">
<head>
  <% if (process.env.NODE_ENV === 'production') { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-82ZJFDCVRK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-82ZJFDCVRK');
    </script>
  <% } %>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>PopUnit</title>
  <meta name="description" content="スマートフォンゲーム「ポップリンクス（ポプマス）」のユニット結成を補助するサイトです" />
  <meta property="og:url" content="https://ytya.github.io/popunit" />
  <meta property="og:title" content="ポプマスユニット組み合わせ" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="スマートフォンゲーム「ポップリンクス（ポプマス）」のユニット結成を補助するサイトです" />
  <meta property="og:image" content="https://github.com/ytya/popunit/blob/main/.github/thumbnail.png?raw=true" />
  <meta property="og:site_name" content="PopUnit" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="Summary Card" />
  <meta name="twitter:site" content="@ytyatwtr" />

  <!-- favicon by real-favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="image/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="image/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="image/favicon-16x16.png">
  <link rel="manifest" href="image/site.webmanifest">
  <link rel="mask-icon" href="image/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/be86c7bb32.js" crossorigin="anonymous"></script>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <!-- ブランド選択 -->
  <div class="container">
    <div class="row">
      <div class="col col-brand s6 m4 l4 xl2 offset-xl1">
        <input type="checkbox" class="check-brand" value="765AS">
        <label class="btn-brand btn-brand-as765" >アイドルマスター</label>
      </div>
      <div class="col col-brand s6 m4 l4 xl2">
        <input type="checkbox" class="check-brand" value="シンデレラガールズ">
        <label class="btn-brand btn-brand-cinderella" >シンデレラガールズ</label>
      </div>
      <div class="col col-brand s6 m4 l4 xl2">
        <input type="checkbox" class="check-brand" value="ミリオンライブ">
        <label class="btn-brand btn-brand-million" >ミリオンライブ</label>
      </div>
      <div class="col col-brand s6 m4 l4 xl2">
        <input type="checkbox" class="check-brand" value="SideM">
        <label class="btn-brand btn-brand-sidem" >SideM</label>
      </div>
      <div class="col col-brand s6 m4 l4 xl2">
        <input type="checkbox" class="check-brand" value="シャイニーカラーズ">
        <label class="btn-brand btn-brand-shiny" >シャイニーカラーズ</label>
      </div>
    </div>
  </div>

  <!-- 属性選択 -->
  <% let attrs = [['flower', '花'], ['sky', '空'], ['fire', '炎'], ['wind', '風'],['snow', '雪'], ['moon', '月'],['heaven', '天'], ['dream', '夢'], ['rainbow', '虹'], ['thunder', '雷'], ['light', '光'], ['star', '星'], ['ocean', '海'], ['love', '愛'], ['darkness', '闇']] %>
  <div class="container flex-row">
    <label class="text-attr">
      属性1
    </label>
    <div class="flex-attr">
      <% for (let attr of attrs) { %>
        <div class="col-attr">
          <input type="checkbox" class="check-attr" name="check-attr1" value="<%= attr[1] %>">
          <label class="btn-attr btn-attr-<%= attr[0] %>"><%= attr[1] %></label>
          </label>
        </div>        
      <% } %>
    </div>
  </div>
  <div class="container flex-row">
    <label class="text-attr">
      属性2
    </label>
    <div class="flex-attr">
      <% for (let attr of attrs) { %>
        <div class="col-attr">
          <input type="checkbox" class="check-attr" name="check-attr2" value="<%= attr[1] %>">
          <label class="btn-attr btn-attr-<%= attr[0] %>"><%= attr[1] %></label>
        </div>        
      <% } %>
    </div>
  </div>
  <div class="container flex-row">
    <label class="text-attr">
      属性3
    </label>
    <div class="flex-attr">
      <% for (let attr of attrs) { %>
        <div class="col-attr">
          <input type="checkbox" class="check-attr" name="check-attr3" value="<%= attr[1] %>">
          <label class="btn-attr btn-attr-<%= attr[0] %>"><%= attr[1] %></label>
        </div>        
      <% } %>
    </div>
  </div>

  <div class="container" style="margin-top: 1rem;">
    <div class="row">
      <!-- 絞り込み検索 -->
      <div class="col col-cond s12 m6 l7 xl8">
        <select id="select-refine-search" class="select-refine-search no-autoinit" multiple>
        </select>
      </div>
      <!-- ブランドソート -->
      <div class="col col-cond s6 m4 l3 xl3">
        <label>
          <input type="checkbox" id="check-brand-sort" class="filled-in" />
          <span>ブランドソート</span>
        </label>
      </div>
      <!-- 組数表示 -->
      <div class="col col-cond s6 m2 l2 xl1">
        <label id="label-unit-num" class="label-unit-num">
          0 組
        </label>
      </div>
    </div>
  </div>

  <!-- ユニットテーブル -->
  <div class="container scroll-table-wrapper">
    <table id="table-unit" class="scroll-table unit-table">
    </table>
  </div>

  <!-- footer -->
  <footer class="page-footer">
    <div class="container">
      <div class="right footer-color">
        <a class="footer-color modal-trigger" href="#model-privacy-policy">PrivacyPolicy</a> / 
        <a class="footer-color" href="https://twitter.com/ytyatwtr" target="_blank" rel="noreferrer">Contact</a> / 
        <a class="footer-color" href="https://github.com/ytya/popunit" target="_blank" rel="noreferrer">
          <i class="fab fa-github no-autoinit"></i>   GitHub
        </a>
      </div>
    </div>
  </footer>

  <!-- Privacy Policy -->
  <div id="model-privacy-policy" class="modal .modal-close">
    <div class="modal-content">
      <h5>プライバシーポリシー</h5>
      <p>
        本サイトでは、利用状況の確認のためアクセス解析ツール「Google Analytics」を使用しています。
        Google AnalyticsではCookieを使用してデータの収集を行っており、それらのデータはGoogleのプライバシーポリシーに基づいて管理されます。
        なお、データは匿名で収集されており個人を特定するものではありません。<br>

        Google AnalyticsはCookieを無効にしたり、<a href="https://tools.google.com/dlpage/gaoptout?hl=ja" target="_blank" rel="noreferrer">Google社によるオプトアウトアドオン</a>を使用することで停止できます。
        Google Analyticsの利用規約及びプライバシーポリシーに関する詳細は<a href="https://marketingplatform.google.com/about/analytics/terms/jp/" target="_blank" rel="noreferrer">Google アナリティクス利用規約</a>や<a href="https://policies.google.com/technologies/ads?hl=ja" target="_blank" rel="noreferrer">Googleポリシーと規約</a>をご覧ください。
      </p>
    </div>
  </div>

  </body>
</html>
